<div class="about-container">

    <h1 class="about-header">About Me</h1>
    <section>

        <!-- TODO: Tech interest early on i.e. Nintendo Gen-->
        <p>My interest in technology started from a very early age. Nintendo was essentially my introduction to technology and the potential it harnesses.</p>


        <!-- TODO: Myspace age, computer engineering -->
        <p>Like many in my generation, my first introduction to coding, specifically HTML and basic web design, came from the worlds of Myspace and Livejournal. I enjoyed spending hours learning how to make these web pages look how I wanted. </p>
        <p>In high school, I got my first taste of computer engineering. </p>

        <!-- TODO: building PCs, computer science-->
        <p>As an adult, I build my own computers. </p>
    </section>
</div>