<head>
    <meta name="description" content="Information about Amanda Harris, developer">
</head>
<title>About Me</title>
<div class="about-container">

    <h1 class="about-header">About Me</h1>
    <section>

        <p>My interest in technology started from a very early age. Nintendo was essentially my introduction to technology and the potential it harnesses. I still love playing video games in my spare time.</p>

        <p>Like many in my generation, my first introduction to coding, specifically HTML and basic web design, came from the worlds of Myspace and Livejournal. I enjoyed spending hours learning how to make these web pages look how I wanted. I spent a lot
            of time with my art in school, so designing these pages appealled to me. I was in AP art and even considered going to art school.</p>

        <p>In high school, I got my first taste of computer engineering. I started taking my home computer apart and putting it back together. To this day, I still build my own computers.</p>
        <p>I found my niche as a developer because I love problem solving. I love learning. I get to do these things on a regular basis, and I get paid for it.</p>
        <p>When I am not coding, I spend my time reading, playing video games, knitting, or running. I am currently doing a running streak where I run at least one mile every day.
    </section>
    <img src="assets/running-small.jpg" height="300" class="runningPhoto">
</div>