<app-header></app-header>
<app-navigation></app-navigation>
<span class="introduction-container">
    <p>Amanda Jo Harris</p>
    <p>Developer</p>
    <p>Front End | Back End | Accessibility</p>
  </span>
<div class="social-media-container">
    <!-- TODO: Make links-->
    <a href="https://twitter.com/l33tingl4dy" target="_blank"><i class="fab fa-twitter-square social" aria-label="twitter icon"></i></a>
    <a href="https://github.com/l33tingl4dy" target="_blank"><i class="fab fa-github-square social" aria-label="github icon"></i></a>
    <a href="https://www.linkedin.com/in/amanda-jo-harris/" target="_blank"><i class="fab fa-linkedin social" aria-label="linkedin icon"></i></a>
</div>

<router-outlet></router-outlet>