.social-media-container {
    max-width: 400px;
    margin: 20px;
}

.social {
    font-size: 35px;
    padding: 5px;
}

.introduction-container {
    margin: 20px;
    text-align: center;
}

a {
    color: black;
}