#charityContainer {
    display: block;
}

#incentiveContainer {
    display: block;
    justify-content: center;
}

.container {
    background-color: rgba(243, 234, 234, 0.3);
    border-radius: 25px;
    margin: 50px 100px;
    padding: 30px;
}

.center {
    display: flex;
    justify-content: center;
}

#twitch {
    display: flex;
    justify-content: space-evenly;
    padding-right: 50px;
}

#stJudeImg {
    height: 200px;
    border-radius: 4%;
}

.fundraiserInfo {
    font-size: larger;
    max-width: 40%;
    padding-top: 40px;
}

#whatIsStJude {
    display: block;
}

#stJudeInfo {
    display: flexbox;
    margin-bottom: 50px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.stjude{
    color: #d11947;
}

hr {
    background-color: black;
    height: 2px;
    border: none;
}
#past-fundraising{
    display: flex;
   flex-direction: column;

   align-content:space-between;
}
.fundyear{
    margin-right: 20px;
}
