<div id="twitchPage">
    <div id="twitchContainer" class="container">
        <h2 class="center">Streaming</h2>
        <p>I love playing video games and I get to put this to use to raise money by streaming on Twitch. I participate
            in St. Jude Play▶Live every May. During this
            time, I match donations up to $1,000. My employer matches my donations up to $1,000 annually. My daughter
            enjoys getting involved as well.</p>
        <section id="past-fundraising">
            <div *ngFor="let dono of donations; let i = index">
                <span class="fundyear">{{dono.year}} </span> <span class="raised"> {{dono.amount | currency:
                    'USD'}}</span>
            </div>
        </section>
        <section id="twitch" class="center">
            <a href="https://www.twitch.tv/leetinglady" target="_blank" rel="noreferrer" class="social-link"
                aria-label="Link to Amanda's Twitch" id="twitch-link"><i class="fab fa-brands fa-twitch"></i>
                LeetingLady</a>
            <a href="https://tiltify.com/@leetinglady/profile" target="_blank" rel="noreferrer" class="social-link"
                aria-label="Amanda's Fundraising Page">
                Tiltify
            </a>
        </section>
        <!-- <iframe
            src="https://clips.twitch.tv/embed?clip=LaconicOutstandingClintmullinsUnSane-fqigfioJoLnH8Kyk&parent=www.amandajo.tech"
            frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe> -->
    </div>

    <div id="charityContainer" class="container">
        <section id="stJudeInfo" class="center">
            <a href="https://www.stjude.org/get-involved/other-ways/video-game-charity-event.html" target="_blank"
                rel="noreferrer">
                <img id="stJudeImg" src="../../assets/stjudeplaylivelogo.jpeg"
                    alt="St. Jude Children's Research Hospital logo of the profile of a small child holding their hands in front of them, and St. Jude Play Live logo side by side on a black background.">
            </a>
        </section>
        <hr>
        <section id="whatIsStJude" class="center">
            <H2>What is St. Jude Children's Research Hospital?</H2>
            <p><em>St. Jude is a hospital near my hometown in Memphis, TN. They treat children with various cancers and
                    never charge families for any of it.</em></p>
            <p>St. Jude is leading the way the world understands, treats and defeats childhood cancer and other
                life-threatening diseases. And families never receive a bill from St. Jude for treatment, travel,
                housing or food — because all a family should
                worry about is helping their child live.
                <cite><a href="https://www.stjude.org/get-involved/other-ways/video-game-charity-event/faq.html">St.
                        Jude FAQ</a></cite>
            </p>
            <h3>What do donations pay for?</h3>
            <ul>
                <li>$10 can provide a new toy for hospital play areas</li>
                <li>$25 can provide a No More Chemo Party for St. Jude patients and their families, or it can provide
                    rehabilitation weights for a patient</li>
                <li>$50 can provide art supplies to St. Jude patients</li>
                <li>$100 can provide red wagons to patients: the preferred mode of transportation for younger patients.
                    $100 could also provide a pair of pediatric crutches</li>
                <li>$250 can provide a meal card for a St. Jude Family for one week</li>
                <li>$500 can provide a share of bone marrow treatment</li>
                <li>$1000 can cover 2/3 of the cost of one day of chemotherapy</li>
                <li>Also, masks, gowns, and other supplies that are needed daily!</li>
                <cite><a href="https://www.stjude.org/about-st-jude/how-does-st-jude-use-donations.html">St.
                        Jude</a></cite>
            </ul>
        </section>
    </div>
</div>