<head>
    <meta name="Description" content="Work Experience Information about Amanda Harris, developer">
</head>
<title>My Portfolio</title>
<h1 class="resume-header">Experience</h1>
<div class="resume-container">
    <section class="skills-container">
        <img src="assets/HTML5_Logo.svg" alt="HTML5 Logo" height="100px" id="html-logo" class="logo">
        <img src="assets/CSS3.png" alt="CSS Logo" height="100px" id="css-logo" class="logo">
        <img src="assets/ts-logo.svg" alt="Typescript Logo" height="100px" id="typescript-logo" class="logo">
        <img src="assets/JavaScript-01.svg" alt="Javascript Logo" height="100px" id="javascript-logo" class="logo">
        <img src="assets/C-Sharp-01.svg" alt="C Sharp Logo" height="100px" id="Csharp-logo" class="logo">
        <img src="assets/angular.svg" alt="Angular Logo" height="100px" id="angular-logo" class="logo">
        <img src="assets/nodejs.svg" alt="node Logo" height="100px" id="node-logo" class="logo">
    </section>
    <div class="text-experience">

        <section class="section-container" id="work-experience">
            <h2>Work Experience</h2>
            <p>I have spent the last three years working on modernizing older legacy applications and creating new single page applications to decrease customer calls. I have worked on the user interface, both designing and developing. I work with Product
                Owners to meet business requirements, while focusing on the user experience. I also work on our applications' APIs and backend-for-frontends(BFFs). I connect to the APIs of our downstream services to get data for the experience. I monitor
                application alerts using Splunk and maintain code quality via Veracode and Sonar,
            </p>
            <p>I am an accessibility subject matter expert at my current position. I have spent many hours in my own training, as well as a company-sponsored group training. I am an accessibility advocate, both at work and on social media. Accessibility
                is my passion, and I take every opportunity to collaborate with other teams to ensure their products are accessible for all. User experience as a whole is what I would consider my focus, regardless of what I am working on.
            </p>
            <p>Before working as a developer, I spent several years in customer service, in food service, dog grooming, and copy and print. I was even a manager over my department for a few months. </p>
            <h2>School</h2>
            <p>I graduated from Texas Woman's University in 2017 with a Bachelor of Science in Computer Science and minor in mathematics. I studied Perl, Assembly, PHP, and Java during my time in university.</p>
        </section>
        <section class="section-container" id="portfolio-experience">
            <h2>Portfolio</h2>

            <ul>
                <h3>Schwab Applications</h3>
                <li><a href="https://client.schwab.com/Apps/service/trustedcontact" target="_blank" rel="noreferrer">Trusted Contacts/Senior Vulnerable Investors</a> (2017-2018)</li>
                <li><a href="https://client.schwab.com/Apps/accounts/balanceletters" target="_blank" rel="noreferrer">Balance Letters</a> (2018)</li>
                <li><a href="https://client.schwab.com/App/service/Cardsandchecks" target="_blank" rel="noreferrer">Cards and Checks</a> (2018)</li>
                <li><a href="https://client.schwab.com/App/service/beneficiaries" target="_blank" rel="noreferrer">Beneficiaries</a> (2019-2020)</li>
                <li>Pledged Asset Line Multisigner (2020)</li>
            </ul>

        </section>
    </div>
</div>