<h1 class="resume-header">Experience</h1>
<div class="resume-container">
    <section class="section-container" id="language-container">
        <h3>Languages</h3>
        <ul>
            <li>Javascript/Typescript</li>
            <li>C#</li>
            <li>Java</li>
            <li>Perl</li>
            <li>PHP</li>
        </ul>
    </section>
    <section class="section-container" id="framework-container">
        <h3>Frameworks</h3>
        <ul>
            <li>Angular</li>
            <li>.NET</li>
        </ul>
    </section>
</div>