<h1 class="resume-header">Experience</h1>
<div class="resume-container">
    <div class="small-containers">
        <section class="section-container" id="language-container">
            <h3>Languages</h3>
            <ul>
                <li>Javascript/Typescript</li>
                <li>C#</li>
                <li>Java</li>
                <li>Perl</li>
                <li>PHP</li>
            </ul>
        </section>
        <section class="section-container" id="framework-container">
            <h3>Frameworks</h3>
            <ul>
                <li>Angular</li>
                <li>.NET</li>
            </ul>
        </section>
    </div>

    <section class="section-container" id="work-experience">
        <h3>Work Experience</h3>
        <p>I have spent the last three years working on modernizing older legacy applications and creating new single page applications to decrease customer calls. I have worked on the user interface, both designing and developing. I work with Product Owners
            to meet business requirements, while focusing on the user experience. I also work on our applications' APIs and backend-for-frontends(BFFs). I connect to the APIs of our downstream services to get data for the experience.
        </p>
        <p>I am an accessibility subject matter expert at my current position. I have spent many hours in my own training, as well as a company-sponsored group training. I am an accessibility advocate, both at work and on social media.</p>
    </section>
</div>