.resume-container {
    display: flex;
    justify-content: center;
}

.resume-container ul {
    list-style-type: none;
}

.resume-header {
    width: 100%;
    text-align: center;
}

.section-container {
    background-color: rgba(243, 234, 234, 0.3);
    border-radius: 25px;
    margin: 50px;
    text-align: center;
    width: 400px;
    font-size: 20px;
}