<div class="navigation-container">
    <nav role="navigation" id="menu" class="navigation-menu">
        <ul id="page-nav">
            <li class="button"><a routerLink="/home-component" routerLinkActive="active" class="nav-link">Home</a>
                <div class="bg"></div>
            </li>
            <li class="button"><a routerLink="/cv-component" routerLinkActive="active" class="nav-link">CV</a>
                <div class="bg"></div>
            </li>
            <li class="button"><a routerLink="/about-component" routerLinkActive="active" class="nav-link">About</a>
                <div class="bg"></div>
            </li>
            <li class="button"><a routerLink="/contact-component" routerLinkActive="active" class="nav-link">Contact</a>
                <div class="bg"></div>
            </li>
        </ul>
    </nav>
</div>