<div class="navigation-container">
    <nav role="navigation" id="menu" class="navigation-menu">
        <ul id="page-nav">
            <li><a routerLink="/home" routerLinkActive="active" class="nav-link">Home<div class="bg"></div></a></li>
            <li><a routerLink="/cv" routerLinkActive="active" class="nav-link">Portfolio<div class="bg"></div></a></li>
            <li><a routerLink="/recommendations" routerLinkActive="active" class="nav-link">Recommendations<div class="bg"></div></a></li>
            <!-- <li><a routerLink="/twitch" routerLinkActive="active" class="nav-link">Twitch<div class="bg"></div></a></li> -->
            <li><a routerLink="/about" routerLinkActive="active" class="nav-link">About<div class="bg"></div></a></li>
            <li><a routerLink="/contact" routerLinkActive="active" class="nav-link">Contact<div class="bg"></div></a></li>
        </ul>
    </nav>
</div>