.navigation-container {
    text-align: center;
    font-family: 'Open Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
}

#page-nav {
    list-style-type: none;
    text-align: center;
    display: inline-flex;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 30px;
}

a.active {
    text-decoration: underline;
}