<div class="navigation-container">
    <nav role="navigation" id="menu" class="navigation-menu">
        <ul id="page-nav">
            <li><a routerLink="/home-component" routerLinkActive="active" class="nav-link">Home</a></li>
            <li><a routerLink="/cv-component" routerLinkActive="active" class="nav-link">CV</a></li>
            <li><a routerLink="/about-component" routerLinkActive="active" class="nav-link">About</a></li>
            <li><a routerLink="/contact-component" routerLinkActive="active" class="nav-link">Contact</a></li>
        </ul>
    </nav>
</div>