.recommendation-section {
    padding: 30px;
    display: flex;
    justify-content: center;
    background-color: rgba(243, 234, 234, 0.3);
    border-radius: 25px;
    margin: 50px 200px;
    flex-wrap: wrap;
    font-size: 18px;
    flex-flow: column;
    text-align: center;
}

.recHeader {
    flex-flow: column;
    text-align: center;
}

h1 h2 h3 {
    width: 100%;
    display: flex;
    position: relative;
    text-align: center;
}

.recSection {
    /* TODO: make cards with image and links */
    background-color: rgba(0, 0, 0, 0.3);
    /* max-width: 200px; */
}