<h1 class="recHeader">Recommendations</h1>
<div class="recommendation-section">
    <!-- TODO: Add images and links-->
    <h2>Books</h2>
    <h3>Non-Fiction</h3>
    <div *ngFor="let nonfiction of nonFictionBooks" class="recSection">
        <span>
            <img src="{{nonfiction.imgLink}}" height=150px;>
            {{ nonfiction.name }} | {{ nonfiction.author }}
        </span>
    </div>
    <h3>Fiction</h3>
    <!-- TODO: Add dynamic id-->
    <div *ngFor="let fiction of fictionBooks" class="recSection" id="bookInfo">
        <span class="recCard">
            <img src="{{fiction.imgLink}}" height=150px;>
            {{ fiction.name }} | {{ fiction.author }}
        </span>
    </div>
</div>

<div class="recommendation-section">
    <h2>Games</h2>
    <div *ngFor="let game of games" class="recSection">
        <span class="recCard">
            <img src="{{game.img}}" height=100px;>
{{game.name}}
        </span>
    </div>