.recommendation-section {
    padding: 30px;
    display: flex;
    justify-content: center;
    background-color: rgba(243, 234, 234, 0.3);
    border-radius: 25px;
    margin: 50px 200px;
    flex-wrap: wrap;
    font-size: 18px;
    flex-flow: column;
    text-align: center;
}

.recHeader {
    flex-flow: column;
    text-align: center;
}

h1 h2 h3 {
    width: 100%;
    display: flex;
    position: relative;
    text-align: center;
}

.recObject {
    background-color: rgba(0, 0, 0, 0.3);
    width: 300px;
    display: block;
    padding: 20px;
    margin: 20px;
}

.recObject:hover {
    background-color: rgba(243, 234, 234, 0.4);
}


/* TODO: make card background flip on hover  */

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

.recSection {
    display: flex;
    flex: content;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 0.6s ease;
    transform-style: preserve-3d;
}

.recData {
    width: 100%;
    display: block;
}

@media screen and (max-width: 874px) {
    .recommendation-section {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}