<head>
    <meta name="description" content="Website about Amanda Harris, developer">

</head>
<title>Amanda | Developer and Accessibility Advocate</title>
<div class="home-container">
    <div class="photo-container">
        <img src="../../assets/ajhphoto2.jpg" id="home-photo" class="logoPic" alt="photo of a woman with pink hair and glasses, grinning, holding a black and orange tortoiseshell cat in her arms">
    </div>
    <div class="introduction-container">
        <h1>Amanda Jo Harris</h1>
        <h2>Developer | Scrum Master</h2>
        <h2>Front-End | Back-End | Accessibility</h2>
        <span class="social-media-container">
            <a href="https://twitter.com/l33tingl4dy" target="_blank" rel="noreferrer" class="social-link" id="twitter-link" aria-label="link to Amanda's Twitter">
                <i class="fab fa-twitter-square social" aria-label="twitter icon"></i></a>
            <a href="https://github.com/l33tingl4dy" target="_blank" rel="noreferrer" class="social-link" id="github-link" aria-label="link to Amanda's Github">
                <i class="fab fa-github-square social" aria-label="github icon"></i></a>
            <a href="https://www.linkedin.com/in/amanda-jo-harris/" target="_blank" rel="noreferrer" class="social-link" id="linkedin-link" aria-label="link to Amanda's Linked In">
                <i class="fab fa-linkedin social" aria-label="linkedin icon"></i></a>
            <a href="https://dev.to/l33tingl4dy" target="_blank" rel="noreferrer" class="social-link" id="dev-link" aria-label="link to Amanda's Dev profile">
                <i class="fab fa-dev social" aria-label="dev icon"></i></a>
            <a href="https://codepen.io/l33tingl4dy" target="_blank" rel="noreferrer" class="social-link" id="codepen-link" aria-label="link to Amanda's Code Pen">
                <i class="fab fa-codepen social" aria-label="codepen icon"></i></a>
                <a href="https://www.twitch.tv/leetinglady" target="_blank" rel="noreferrer" class="social-link" aria-label="Link to Amanda's Twitch" id="twitch-link"><i class="fab fa-brands fa-twitch"></i></a>
            <a href="https://www.deviantart.com/leetinglady" target="_blank" rel="noreferrer" class="social-link" id="deviantArtLink" aria-label="link to Amanda's DeviantArt">
                <i class="fab fa-brands fa-deviantart" aria-label="deviant art icon"></i></a>
        </span>
    </div>

</div>