<head>
    <meta name="description" content="Website about Amanda Harris, developer">
</head>
<div class="home-container">
    <div class="photo-container">
        <img src="assets/ajhphoto.jpg" alt="smiling woman with glasses in front of plants" loading="lazy" height="225px" width="225" id="home-photo">
    </div>
    <div class="introduction-container">
        <p>Amanda Jo Harris</p>
        <p>Developer</p>
        <p>Front-End | Back-End | Accessibility</p>
        <span class="social-media-container">
            <a href="https://twitter.com/l33tingl4dy" target="_blank" rel="noreferrer" class="social-link" id="twitter-link" aria-label="link to Amanda's Twitter">
                <i class="fab fa-twitter-square social" aria-label="twitter icon"></i></a>
            <a href="https://github.com/l33tingl4dy" target="_blank" rel="noreferrer" class="social-link" id="github-link" aria-label="link to Amanda's Github">
                <i class="fab fa-github-square social" aria-label="github icon"></i></a>
            <a href="https://www.linkedin.com/in/amanda-jo-harris/" target="_blank" rel="noreferrer" class="social-link" id="linkedin-link" aria-label="link to Amanda's Linked In">
                <i class="fab fa-linkedin social" aria-label="linkedin icon"></i></a>
            <a href="https://dev.to/l33tingl4dy" target="_blank" rel="noreferrer" class="social-link" id="dev-link" aria-label="link to Amanda's Dev profile">
                <i class="fab fa-dev social" aria-label="dev icon"></i></a>
            <a href="https://codepen.io/l33tingl4dy" target="_blank" rel="noreferrer" class="social-link" id="codepen-link" aria-label="link to Amanda's Code Pen">
                <i class="fab fa-codepen social" aria-label="codepen icon"></i></a>
        </span>
    </div>

</div>