.home-container {
    padding: 30px;
    display: flex;
    justify-content: center;
    background-color: rgba(243, 234, 234, 0.3);
    border-radius: 25px;
    margin: 50px 200px;
}

.social-media-container {
    margin: 20px;
}

.social {
    font-size: 45px;
    padding: 10px;
}

.introduction-container {
    margin: 5px;
    text-align: center;
    font-size: 23px;
    max-width: 500px;
    color: black;
}

.photo-container {
    margin: 20px;
    max-width: 400px;
    padding-right: 150px;
}

#home-photo {
    border-radius: 25px;
}

a {
    color: black;
}