.home-container {
    padding: 30px;
    display: flex;
    justify-content: center;
    background-color: rgba(243, 234, 234, 0.3);
    border-radius: 25px;
    margin: 50px 200px;
}

.social-media-container {
    margin: 15px;
}

.social-link {
    font-size: 45px;
    padding: 10px;
}

#ko-fi-logo {
    max-height: 45px;
    padding-top: 30px;
}

.introduction-container {
    margin: 5px;
    text-align: center;
    font-size: 23px;
    max-width: 500px;
    color: black;
}

.introduction-container h1 {
    font-size: 30px;
}

.introduction-container h2 {
    font-size: 25px;
}

.photo-container {
    margin: 20px;
    max-width: 400px;
    padding-right: 150px;
    align-items: center;
}
.quote-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
#tron-quote{
   font-size: 25px;
   padding-right: 150px;
}
#tron-cite{
   font-size: 15px;
   padding-left: 150px;
}

#home-photo {
    border-radius: 50%;
    height: 225px;
    width: 225px;
}

a {
    color: black;
}

@media only screen and (max-width: 1200px) {
    .home-container {
        width: 90%;
        margin: 10px;
    }
}

@media only screen and (max-width: 700px) {
    .home-container {
        width: 90%;
        display: block;
        margin: 5px;
    }
    #home-photo {
        align-items: center;
        justify-content: center;
    }
    .photo-container {
        justify-content: center;
        display: flex;
        max-width: 100%;
        padding: 0;
        margin: 0;
    }
}