<div class="contact-container">
    <h1>Say Hi!</h1>
    <section class="contact-section">
        <form class="contact-form">
            <div class="input-form name-form">
                <label for="fName">Name</label>
                <input type="text" id="fName" name="fullName" class="form-control">
                <label for="email">Email</label>
                <input type="email" id="email" name="emailAddress" class="form-control">
                <label for="message">Message</label>
                <input type="text" id="message" name="messageText" class="form-control">
            </div>
        </form>
        <button class="submit-contact-form">Submit</button>
    </section>
</div>