.contact-container {
    padding: 0 40px;
    background-color: rgba(243, 234, 234, 0.3);
    border-radius: 25px;
    margin: 50px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

.contact-form {
    font-size: 20px;
    display: flex;
    width: 100%;
}

.input-form {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

label {
    text-align: left;
}

input[type=text],
input[type=email] {
    padding: 15px;
    border: 2px solid salmon;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    width: 40%;
}

.form-control {
    height: auto;
    background: rgba(255, 255, 255, .6);
}

#message {
    height: 150px;
}

@media screen and (max-width: 600px) {
    .contact-form {
        max-width: 80%;
    }
}