.contact-container {
    padding: 0 40px;
    background-color: rgba(243, 234, 234, 0.3);
    border-radius: 25px;
    margin: 0 200px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

.contact-submitted {
    padding: 0 40px;
    background-color: rgba(243, 234, 234, 0.3);
    border-radius: 25px;
    margin: 50px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

.contact-form {
    font-size: 20px;
    display: flex;
    width: 100%;
}

.input-form {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

label {
    text-align: left;
}

input[type=text],
input[type=email] {
    padding: 15px;
    border: 2px solid salmon;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    /* width: 40%; */
}

.form-control {
    height: auto;
    background: rgba(255, 255, 255, .6);
}

#message {
    height: 150px;
}

@media screen and (min-width: 1000px) {
    input {
        width: 40%;
    }
}

@media screen and (max-width: 1000px) {
    .contact-container {
        max-width: 90%;
        margin: 0 60px;
    }
    .contact-form {
        width: 100%;
    }
    .input-form {
        width: 100%;
    }
    input {
        width: 80%;
    }
    section.contact-section {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .contact-container {
        max-width: 100%;
        margin: 0px;
        padding: 30px;
        border-radius: 0;
    }
    input {
        width: 90%;
    }
}


/* button */

.submit-contact-form {
    background-color: salmon;
    width: 150px;
    height: 35px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    margin-bottom: 50px;
    border-radius: 25px;
    transition: 0.3s;
    margin-top: 40px;
}

.submit-contact-form:hover {
    background-color: teal;
    color: white;
}

.validationError {
    color: red;
    padding-left: 30px;
}